body{ 
    min-width:350px;
    min-height:350px;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.botonera > input {
    border: solid 1px black;
    border-radius: 10%;
    padding: 15px;
    background-color: rgb(90, 212, 50);
    
}

body > header{
    background-color: #00352F;
    padding: .5em;
    font-family: Arial, Helvetica, sans-serif;
} 

body > header > h1, h2 {
    color: #FFFFFF;
}

h1, h2, h3, h4, h5{
    font-family: 'Rajdhani', sans-serif;

}

/*  FOOTER */
body > footer{
    background-color: #00352F;
    text-align: center;
    padding: 1em 0; 
    margin-top: auto;

}

.f3{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}

.f3 > a {
    text-decoration: none;
    color: inherit;
}
/* *************** */

body > nav {
    z-index: 999;
    background-color: #00594F;
    color: #FFFFFF;
    position: sticky;
    top: 0;
}

.error {
    color: red;
}


/* MEDIA QUERIES */

/* Tamaño pequeño*/
@media (min-width: 400px){
    body > header {
        display: grid;
        grid-template-areas:"img h1"
                            "h2 h2";
        grid-template-columns: 30% auto;
        grid-gap: .4em;
        justify-content: center;
        justify-items: center;
    }
    
    body > header > a > img {
        grid-area: img;
        cursor: pointer;
        height: 250px;
    }

    header h1{
        margin-top: 100%;
    }

    body > header > img {
        grid-area: img;
        cursor: pointer;
    }
    
    body > header > h1 {
        grid-area: h1;
    }

    body > header > h2 {
        grid-area: h2;
        justify-self: end;
    }

    body > nav {
        text-align: center;
        z-index: 999;
        
    }

    .enlaces > li{
        width: 10%;
        display: inline-block;
    }

    body > nav > ul {
        display: block;
    }

    body > nav > ul > li {
        display: inline-block;
    }

    body > nav > ul > li > a {
        padding: .5em;
    }

    body > nav > ul > li > a > span {
        display: none;
    }

    body > nav > label[for] {
        display: none;
    }
}

/* Tamaño mediano*/
@media (min-width: 875px){
    body > nav > ul > li > a > span {
        display: inline-block;
    }

    #seccion01 > div {
        display: flex;
        flex-wrap: wrap;

        justify-content: space-evenly;
    }

    #seccion01 > div > article {
        width: 45%;
        margin: .5em;

        flex-grow: 1;
    }
}

/* Tramaño grande */
@media (min-width: 1000px){
    #seccion01 > div > article {
        width: 30%;
    }
}
.f2{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}



/*section > div > article > a > img:hover{
    
    filter: blur(5px); ----> estaba comentada esta linea
    transform: scale(0.8)
}*/

input:hover,textarea:hover{
    background-color: #CEDC00;
}

/* .left-section, .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */